.profile__edit-buttom {
  grid-area: btn;
  background-image: url(../../../images/buttom-pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-color: #000000;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  opacity: 1;
  transition: opacity .5s ease-in;
  cursor: pointer;
  margin-top: 6px;
  padding: 0;
}

.profile__edit-buttom:hover {
  opacity: .6;
}

@media screen and (max-width: 1023px) {
  .profile__edit-buttom {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 500px) {
  .profile__edit-buttom {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
  }
}