.element__basket {
  background-image: url(../../../images/basket.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 19px;
  height: 19px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s ease-in;
}

.element__basket:hover {
  opacity: 0.6;
}