.popup-form {
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
  width: 430px;
  position: fixed;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .popup-form {
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}