.footer__copy {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 0.81;
  color: #545454;
}

@media screen and (max-width: 768px) {
  .footer__copy {
    font-size: 14px;
    line-height: 1.2;
  }
}